---
import { getConfig } from '@libs/config'

const version = getConfig().docs_version
---

<header class="sticky-top" data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg" aria-label="Global navigation">
    <div class="container-xxl">
      <div class="navbar-brand me-auto">
        <a class="stretched-link" href="/">
          <img src={`/${version}/images/orange-logo.svg`} width="50" height="50" alt="ODS Charts - Back to Home" loading="lazy" />
        </a>
        <h1 class="title">Orange Design System Charts</h1>
      </div>
      <div id="global-header" class="navbar-collapse d-lg-flex collapse show">
        <ul class="navbar-nav flex-row">
          <li class="nav-item dropdown">
            <button class="nav-link nav-icon dropdown-toggle" id="bd-theme" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle mode (auto)">
              <svg class="theme-icon-active"><use href={`/${version}/images/ods-charts-icons.svg#ui-auto-mode`}></use></svg>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle mode</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end mb-2" aria-labelledby="bd-theme-text">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                  <svg class="me-2"><use href={`/${version}/images/ods-charts-icons.svg#ui-light-mode`}></use></svg>
                  Light
                  <svg class="ms-auto d-none"><use href={`/${version}/images/ods-charts-icons.svg#check2`}></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                  <svg class="me-2"><use href={`/${version}/images/ods-charts-icons.svg#ui-dark-mode`}></use></svg>
                  Dark
                  <svg class="ms-auto d-none"><use href={`/${version}/images/ods-charts-icons.svg#check2`}></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                  <svg class="me-2"><use href={`/${version}/images/ods-charts-icons.svg#ui-auto-mode`}></use></svg>
                  Auto
                  <svg class="ms-auto d-none"><use href={`/${version}/images/ods-charts-icons.svg#check2`}></use></svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
